/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.col-name {
  width: 30%;
}

.col-date {
  width: 30%;
}

.col-visited {
  width: 30%;
}

.col-general {
  width: 30%;
}

.sort-indicator {
  font-size: 0.8em;
  margin-left: 5px;
  color: #e7e7e7;
}

thead select {
  background-color: #393838;  /* Light grey background */
  color: #f9f6f6;                /* Dark text color for better readability */
  border: 1px solid #ccc;     /* Light border for the dropdown */
  border-radius: 4px;         /* Slightly rounded corners */
  padding: 5px;               /* Some padding inside the select box */
  width: 100%;                /* Full width to align with the table header */
}

thead select:focus {
  border-color: #888;         /* Darker border color when focused */
  outline: none;              /* Remove the default outline */
}

.small-input {
  width: 120px; /* You can adjust the size as needed */
  background-color: #393838;  /* Light grey background */
  color: #f9f6f6;                /* Dark text color for better readability */
  border: 1px solid #ccc;     /* Light border for the dropdown */
  border-radius: 4px;         /* Slightly rounded corners */
  padding: 5px;               /* Some padding inside the select box */
}