{% extends 'base.html' %}
{% block title %}Hiking locations{% endblock %}

{% block styling%}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <h1>Hiking locations</h1>
      <table class="table table-dark table-striped table-hover">
            <!-- This is where you will write the code to render a Bootstrap 
            Table that contains all the information from the 
            hiking-data.csv file. -->
            <thead>
              <tr>
                {% for column in hills[0].keys() %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in hills %}
              <tr>
                {% for column, value in row.items() %}
                  {% if column == "Name" %}
                  <td class="col-name">{{ value }}</td>
                  {% elif column == "Google map link" %}
                  <td col-general><a href="{{ value }}" target="_blank">🗺️</a></td>
                  {% elif column == "Visited?" %}
                  <td class="col-visited">{{ value }}</td>
                  {% elif column == "Date" %}
                  <td class="col-date">{{ value }}</td>
                  {% else %}
                  <td col-general>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        </table>

        <div class="row justify-content-center mt-3">
          <div class="col-auto">
            <a class="btn btn-warning btn-lg" href="{{ url_for('home')}}" role="button">
              Home
            </a>
          </div>
          <div class="col-auto">
            <a class="btn btn-warning btn-lg" href="{{ url_for('add') }}" role="button">
              Add new location
            </a>
          </div>
        </div>   
    </div>
  </div>
</div>

{% endblock %}
