{% extends 'base.html' %}
{% block title %}Hiking locations{% endblock %}

{% block styling%}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">⛰Hiking locations⛰</h1>
  <p class="lead">Want to go out and hike?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout my collection of hiking locations!⛺</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('hikes')}}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
