{% extends 'base.html' %}
{% block title %}Hiking locations{% endblock %}

{% block styling%}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">⛰Hiking locations⛰</h1>
  <p class="lead">Want to go out and hike?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout my collection of hiking locations!⛺</p>
  
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <a class="btn btn-warning btn-lg" href="{{ url_for('hikes')}}" role="button">
        Locations
      </a>
    </div>
    <div class="col-auto">
      <a class="btn btn-warning btn-lg" href="{{ url_for('add') }}" role="button">
        Add new location
      </a>
    </div>
  </div>   

</div>
    </div>

{% endblock %}
